/* Universal Styles */
body {
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
  text-align: center;
}

a {
  color: white;
}

nav span {
  display: inline-block;
  text-decoration: underline;
  padding: 20px 10px;
}

h2, h4 {
  text-align: center;
}

/* Header */
header {
  display: flex;
  align-items: center;
  position: fixed;
  z-index: 1;
  top: 0;
  width: 100%;
  min-height: 69px;
  border-bottom: 1px solid seashell;
  background-color: black;
  padding: auto 10px;
}

.logo {
  display: flex;
  align-items: center;
  flex-grow: 1;
  padding-left: 10px;
}

.logo img {
  height: 50px;
  margin-right: 10px;
}

header nav {
  padding-right: 30px;
}

/* Main Banner */
.banner {
  display: flex;
  position: relative;
  background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-mission-background.jpg);
  background-repeat: no-repeat;
  height: 700px;
  width: 1200px;
  margin: 0 auto 78px auto;
  padding-top: 250px;
  flex-direction: column;
}

#mission {
  display: inline-block;
  position: absolute;
  width: 1200px;
  min-height: 150px;
  text-align: center;
  background-color: black;
  margin-top: 100px;
}

/* Featured Products */
.featuredtitle {
  display: inline-block;
  position: relative;
  margin-top: 600px;
}

#featuredproducts {
  display: flex;
  width: 1000px;
  margin: 10px auto;
  position: relative;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
}

.product-image {
  display: flex;
  flex-grow: 0;
  flex-shrink: 0;
  height: 200px;
  width: 300px;
}

.caption {
  padding-top: 10px;
}

/* Locations */
#locations {
  display: flex;
  position: relative;
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-locations-background.jpg");
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  height: 500px;
  width: 1200px;
  margin: 600px auto 20px auto;
  padding-top: 700px;
}

.locationtitle {
  display: inline-block;
  position: relative;
}

.location-box {
  position: relative;
  display: inline-block;
  height: 250px;
  width: 300px;
  background-color: black;
  padding: 15px 20px;
  opacity: 1;
}

/* Contact */
.contact {
  display: inline-block;
  position: relative;
  padding-top: 250px;
}

/* Footer */
footer {
  display: flex;
  align-items: flex-start;
  text-align: left;
  margin-left: 20px;
}
